.container {
    flex-direction: row;
    justify-content: space-evenly;
    padding: 10px 0px;
}

.container img {
    display: inline;
    width: 70px;
    height: 70px;
}

.emotion {
    font-size: 20px;
    font-weight: 600;
}

.emotionButton {
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.emotionButton[title]:hover::after {
    font-family: 'Pretendard-300';
    content: attr(title);
    position: absolute;
    padding: 4px;
    background: #F4F9FD;
    font-size: 18px;
    font-weight: 300;
    border: 2px solid #22A2FF;
    border-radius: 15px;
    color: #002A49;
    text-align: center;
    z-index: 100;
}