.contaienr {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
}

.contaienr input {
    width: 400px;
    height: 24px;
    border: 1px solid #C5E7FF;
    border-radius: 5px;
    background-color: #C5E7FF;
}

.contaienr input:hover,
.contaienr input:focus {
    border: 0.5px solid #0085E5;
    outline: 0.5px solid #0085E5;
}

.contaienr label {
    font-family: 'Pretendart-600';
    font-size: 24px;
    color: #0085E5;
    margin-bottom: 6px;
}